<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>457286150085-0unupirul093o9lvu0jmjrv5squpceht.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.457286150085-0unupirul093o9lvu0jmjrv5squpceht</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>457286150085-4aaooep3t35j1m8spg94cnvp99unrh6f.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDC-CzgXKci6u0tv6jwipIq2oditJxwmCM</string>
	<key>GCM_SENDER_ID</key>
	<string>457286150085</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>in.bluone.app.kaavya</string>
	<key>PROJECT_ID</key>
	<string>kaavya-7de37</string>
	<key>STORAGE_BUCKET</key>
	<string>kaavya-7de37.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:457286150085:ios:e8db312312f0c60dd94dac</string>
</dict>
</plist>